---
import Nav from "../components/nav.astro";
import "../styles/global.css";
import "../styles/justifiedGallery.min.css";
const images = [
  "/gallery/1.jpg",
  "/gallery/2.jpg",
  "/gallery/3.jpg",
  "/gallery/4.jpg",
  "/gallery/5.jpg",
  "/gallery/6.jpg",
  "/gallery/7.jpg",
  "/gallery/8.jpg",
  "/gallery/9.jpg",
  "/gallery/10.jpg",
  "/gallery/11.jpg",
  "/gallery/12.jpg",
  "/gallery/13.jpg",
  "/gallery/14.jpg",
  "/gallery/15.jpg",
  "/gallery/16.jpg",
  "/gallery/17.jpg",
  "/gallery/18.jpg",
  "/gallery/19.jpg",
  "/gallery/20.jpg",
  "/gallery/21.jpg",
  "/gallery/22.jpg",
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <!-- In your main layout or specific page -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.js"
      integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
      crossorigin="anonymous"></script>
    <style>
        .justified-gallery{
            width: 98vw !important;
        }
        .justified-gallery img{
            border-radius: 20px;
        }
        main{
            background-color: rgb(201, 201, 201);
            max-width: 100vw;
            margin: 0;
            overflow-x: hidden;
        }
        body,html{
            overflow-x: hidden;

        }
    </style>
  </head>
  <body>
    <Nav />
    <main class="pt-[100px] flex justify-center">
            
    <div id="gallery" class="justified-gallery ">
        {
            images.map((src, i) => (
                <a href={src}>
            <img src={src}  loading="lazy" />
          </a>
        ))
    }
    
    </div>
    </main>

</body>
<script src="/js/jquery.justifiedGallery.min.js" is:inline></script>
  <script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
      $("#gallery").justifiedGallery({
        rowHeight: 160,
        margins: 5,
        captions: true,
        lastRow: "justify",
      });
    });
  </script>
</html>
