---
import Nav from "../components/nav.astro";
import LanderBG from "../components/lander-bg.svelte";
import Footer from "../components/footer.astro";
import Analytics from "@vercel/analytics/astro";
import StudentCard from "./../components/student-card.svelte";
import Poems from "./../components/poems.svelte"
import ClientRouter from "astro/components/ClientRouter.astro";
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
  
    <ClientRouter transition:name="fade"/>
  
    <title>Poetry Corner</title>
    <style>

      .font-alex {
        font-family: "Alex Brush", cursive;
      }
      .poets {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }
      body{
        height: 100vh;
      }

    </style>
  </head>
  <body>
    <Analytics />
    <Nav />
    <main class="pt-[130px] flex flex-col items-center">
      <h2 class="font-alex text-3xl">Poets</h2>
      <div class="poets w-screen">
        <a href="/authors/Pratyusha"> <StudentCard name="Pratyusha Joshi" image="./pratyusha.jpg" /></a>
        <a href="/authors/Utkarsh"><StudentCard name="Utkarsh Chandel" image="./utkarsh.jpg" /></a>
        <a href="/authors/Srishti"><StudentCard name="Srishti Mondol" image="./srishti.jpg" /></a>
      </div>
      <div class="poems flex flex-col mt-10">
        <Poems client:only/>
      </div>
    </main>
    <Footer />
  </body>
</html>
