---
import Nav from "../components/nav.astro";
import LanderBG from "../components/lander-bg.svelte";
import Footer from "../components/footer.astro";
import Analytics from "@vercel/analytics/astro";
import StudentCard from "./../components/student-card.svelte";
import Poems from "./../components/poems.svelte"
---

<html>
  <head>
    <title>Poetry Corner</title>
    <style>
      body,
      html {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
      }
      .font-alex {
        font-family: "Alex Brush", cursive;
      }
      .poets {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
      }
    </style>
  </head>
  <body>
    <Analytics />
    <Nav />
    <main class="pt-[100px] flex flex-col items-center">
      <h2 class="font-alex text-3xl">Poets</h2>
      <div class="poets">
        <a href="/authors/Pratyusha"> <StudentCard name="Pratyusha Joshi" image="./pratyusha.jpg" /></a>
        <a href="/authors/Utkarsh"><StudentCard name="Utkarsh Chandel" image="./utkarsh.jpg" /></a>
        <a href="/authors/Srishti"><StudentCard name="Srishti Mondol" image="./srishti.jpg" /></a>
      </div>
      <div class="poems flex flex-col mt-10">
        <Poems client:only/>
      </div>
    </main>
    <Footer />
  </body>
</html>
